@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  line-height: 72px;
  /* color: black; */
  overflow: hidden;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
}
h4 {
  font-size: 20px;
  /* font-weight: 500; */
  overflow: hidden;
}
p {
  font-size: 16px;
  /* color: grey; */
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;
}
.shadow {
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 970px) {
  h1 {
    font-size: 32px;
    line-height: 45px;
  }
  h4 {
    font-size: 32px;
    line-height: 45px;
  }
}
